a {
  color: #666 !important;
}
header a:hover {
  color: orange !important;
}
.main-menu {
  background-color: #f3ecaa !important;
}
.slide-content {
  padding-left: 110px;
  padding-top: 56px;
}

@media only screen and (max-width: 600px) {
  .logo {
    text-align: center;
  }
  .justify-content-end {
    justify-content: center !important;
  }
  .slide-content {
    display: none;
  }
  footer {
    background-color: #000;
    color: #fff;
  }
  footer a {
    color: #ccc !important;
  }
  .copyright {
    color: #fff;
    background-color: #000;
    text-align: center;
  }
}
